<div class="row">
      <div class="span6">
        <form action="/login" method="post">
            <fieldset>
                <legend>Login</legend>
                <div class="control-group">
                    <label for="email">Email Address</label>
                    <input type="email" name="email" value="<%= h params[:email] %>" />
                </div>
                <div class="control-group">
                    <label for="password">Password</label>
                    <input type="password" name="password" />
                </div>
                <div class="form-actions">
                    <input type="submit" value="Login" class="btn btn-primary" />
                </div>
            </fieldset>
        </form>
    </div>
    <div class="span6">
        <form action="/register" method="post">
            <fieldset>
                <legend>Register Account</legend>
                <div class="control-group">
                    <label for="email">Email Address</label>
                    <input type="email" name="email" value="<%= h params[:email] %>" />
                </div>
                <div class="control-group">
                    <label for="password">Password</label>
                    <input type="password" name="password" />
                </div>
                <div class="form-actions">
                    <input type="submit" value="Register Account" class="btn btn-primary" />
                </div>
            </fieldset>
        </form>
    </div>
</div>